body {
	font-size: 15px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
}

a { 
	color: #ea2626;
}

div.lead {
	font-size: 21px;
	color: #aaa;
}

p { margin: 0 0 20px 0; }

.alignleft { margin: 0 20px 20px 0; }
.alignright { margin: 0 0 20px 20px; }
.alignleft, .alignright { box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.5); }

h2, h3, h4, .h2, .h3, .h4 { 
	color: #999;
	clear: both;
	margin: 20px 0 10px;
}

h2 p, h3 p, h4 p, .h2 p, .h3 p, .h4 p { margin: 0; }

h2, .h2 { font-size: 26px; font-weight: bold; }
h3, .h3 { font-size: 21px; font-weight: bold; }
h4, .h4 { font-size: 17px; font-weight: normal; }

blockquote {
	clear: both;
	border-left: 5px solid #eee;
	padding-left: 10px; 
	font-style: italic;
	font-size: 15px;
}


/* sidebar */
body[data-id^=wysiwyg-acf-field-sidebar-] {
	font-size: 14px;
}

body[data-id^=wysiwyg-acf-field-sidebar-] h3, body[data-id^=wysiwyg-acf-field-sidebar-] .h3 { 
	clear: both;
	margin-top: 30px;
	font-size: 20px; 
	font-weight: 100;
	border-bottom: 1px solid #ddd;
	padding-bottom: 5px;
}

body[data-id^=wysiwyg-acf-field-side_lower-] h3:first-child, body[data-id^=wysiwyg-acf-field-side_lower-] .h3:first-child { 
	margin-top: 0;
}

body[data-id^=wysiwyg-acf-field-side_lower-] {
	font-size: 14px;
}

body[data-id^=wysiwyg-acf-field-side_lower-] h3, body[data-id^=wysiwyg-acf-field-side_lower-] .h3 { 
	clear: both;
	margin-top: 30px;
	font-size: 20px; 
	font-weight: 100;
	border-bottom: 1px solid #ddd;
	padding-bottom: 5px;
}

body[data-id^=wysiwyg-acf-field-side_lower-] h3:first-child, body[data-id^=wysiwyg-acf-field-side_lower-] .h3:first-child { 
	margin-top: 0;
}

